$color-blue-1: #0065bd;
$color-blue-2: #78aace;
$color-blue-3: #e5eff8;
$color-blue-4: #357ebd;
$color-blue-5: #428bca;
$color-blue-6: #66afe9;

$color-white: #fff;

$color-grey-1: #f5f4f1;
$color-grey-2: #4d4d4d;

$color-green-1: #008b95;

$font-color-black: #333;

