@import 'variables.scss';

.card {
  margin-top: 20px;
  background-color: $color-white;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
}

.cardHeader {
  display: flex;
  padding: 5px;

  &__header {
    font-size: 22px;
    font-weight: 400;
  }

  &__icon {
    padding-left: 10px;
    color: black;
  }
}
.cardInformation {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  padding: 5px;

  &__label {
    font-weight: 400;
    color: $color-grey-2;
    padding-right: 5px;
  }

  &__info {
    
  }
}