@import './variables.scss';

.employeeTable {
  align-content: center;
}

.breadcrumbs {
  &:active {
    background-color: blue;
  }
}

.tableRow {
  &:hover {
    background-color: $color-blue-1;
    color: white;
    cursor: pointer;
  }
}