@import './variables.scss';

.employeeList {
  margin: 10px 20px
}

.breadcrumbs {
  &:active {
    background-color: blue;
  }
}

.tableRow {
  &:hover {
    background-color: $color-blue-1;
    cursor: pointer;
  }
}