@import './variables.scss';

.employeeTable {
  padding: 20px;
  width: 100%;
}

.breadcrumbs {
  &:active {
    background-color: blue;
  }
}

.tableRow {
  &:hover {
    background-color: $color-blue-1;
    color: white;
    cursor: pointer;
  }
}