@import './variables.scss';

.userInfo {
  padding: 0px 100px;
  
  &__header {
    padding: 10px 50px;
    background: $color-blue-1;
    color: $color-white;
  }

  &__headerText {
    font-size: 2rem;
    font-weight: 600;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 300;
  }
}