.loginPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  border: 5px solid green;
}

.text {
  // border: 1px solid red;
}

.loginContainer {
  // border: 1px solid blue;
  margin: 10px, auto;
  width: 30%;
  padding: 10px

}

.loginForm {
    display: flex;
    flex-direction: column;
}