@import './variables.scss';

.loginPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 10px 0;
  background-color: $color-white;
  border-radius: 10px;
}

.loginContainer {
  margin: 10px, auto;
  padding: 10px

}

// .loginForm {
//   display: flex;
//   flex-direction: column;
//   font-size: 14px;
//   font-weight: 300;

//   &__inputContainer {
//     display: flex;
//     margin: 5px;
//   }

//   &__label {
//     margin-right: 10px
//   }

//   &__input {

//   }

//   &__button {
//     border: 3px solid $color-blue-2;
//     background-color: white;
//     color: $color-blue-1;
//     border-radius: 3px;
//     padding: 5px;
//     margin-top: 10px;
//     font-weight: 400;
//   }
// }

